
            <div id="breadcrumb">###BREADCRUMB###</div>
                <div id="themenartikel_header">
                    <div class="green_header">###PAGE_METAHEAD### <span class="datum">| ###PAGE_DATE###</span></div>
                </div>

                <div id="block_50_left">
                  <div class="commentable_text">
                  <h1>###PAGE_TITLE###</h1>
  				###PAGINATION_TITLE###
                    <div id="themenartikel_content_main_wrapper" class="content_bodytext">
                          <div id="content">
                              ###PAGE_SUBTITLE###
              <!-- TYPO3SEARCH_begin -->
                              ###CONTENT###
              <!-- TYPO3SEARCH_end -->
                          </div>
                    </div>
                  </div>
                    ###PAGINATION###
                    ###SOCIAL_NETWORK###
                    <div class="processView"></div>
                </div>
                <div id="page_action">
                  <div class="box_light_grey">
                    ###PRINT_LINK###
                    ###SEND_LINK###
                    ###PDF_LINK###
                  </div>
                </div>
